/* ProximaNova */
@font-face {
    font-family: "ProximaNovaLight";src: url("../fonts/ProximaNova/Light.woff") format("woff");font-style: normal;font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaLightIt";src: url("../fonts/ProximaNova/LightIt.woff") format("woff");font-style: normal;font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaRegular";src: url("../fonts/ProximaNova/Regular.woff") format("woff");font-style: normal;font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaRegularIt";src: url("../fonts/ProximaNova/RegularIt.woff") format("woff");font-style: normal;font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaSemibold";src: url("../fonts/ProximaNova/Semibold.woff") format("woff");font-style: normal;font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaBold";src: url("../fonts/ProximaNova/Bold.woff") format("woff");font-style: normal;font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaCondRegular";src: url("../fonts/ProximaNova/CondRegular.woff") format("woff");font-style: normal;font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaCondSemibold";src: url("../fonts/ProximaNova/CondSemibold.woff") format("woff");font-style: normal;font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaExCnLight";src: url("../fonts/ProximaNova/ExCnLight.woff") format("woff");font-style: normal;font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaExCnRegular";src: url("../fonts/ProximaNova/ExCnRegular.woff") format("woff");font-style: normal;font-weight: normal;
}
/* !ProximaNova */