@font-face {
	font-family:'ProximaNovaLight';
	src:url("ProximaNova-Light.woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	line-height: 14px;
	font-size: 12px;
	font-weight: 300;
}

.main {
	width: 960px;
	margin: 0 auto;
	height: 366px;
	background-color: #edeef0;
}

.left-bar {
	width: 18%;
	padding-right:5px;
}

.content {
	width: 56%;
	padding-left: 10px;
	padding-right: 7px;
}

.right-bar {
	width: 26%;
	padding-left: 7px;
	padding-right: 26px;
}

.left-bar, .content, .right-bar {
	float:left;
	margin-top:8px;
}

.navbar {
	text-align: left;
	margin-top:8px;
	margin-left:20px;
}

.navbar li {
	margin-bottom:12px;
	list-style:none;
}

.navbar li a {
	text-decoration: none;
	color: #285473;
}

.line {
	border:1px solid #dfe2e8;
	margin: 18px 2px 12px 32px;
}

.count {
	font-size: 11px;
	color: #5b6e85;
}

.warp-count {
	display: inline-block;
	border-radius: 2px;
	text-align: center;
	background-color: #d1d9e0;
	float: right;
	width: 18px;
	height: 20px;
	margin-top:-3px;
	padding-top: 3px;	
}

.content-top {
	height: 51px;
	padding: 16px 18px 16px 57px;
}

.content-center {
	padding: 16px 20px;
}

.content-bottom {
	height: 56px;

}
.wrap {
	box-shadow:0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	border-radius: 2px;
	background-color: #fff;
}

.content-center, .content-top, .content-bottom  {
	margin-bottom:14px;
}

.content-bottom {
	margin-bottom: 0;
	padding-top:16px;
	text-align: center;
	color: #656565;
}


.content-bottom span {
	margin-right: 30px;
}

.content-bottom img {
	float: right;
	margin-right: 22px;
}

.content-bottom div {
	border-top:1px solid #dfe2e8;
	height: 1px;
	margin-top: 11px;
}

.empty {
	background-color: #fff;
	height: 2px;
}

.content-icon {
	width: 17px;
	height: 17px;
	opacity: 0.7;
}

.content-text {
	line-height: 18px;
	color: #898584;
	text-align:center;
	float:left;
}

.icon-wrap {
	display: inline-block;
	float:right;
	text-align: center;
}

.icon-wrap img {
	opacity: 0.7;
	margin-right: 3px;
}

.icon-wrap .color-icon {
	width: 20px;
	height: 19px;
	opacity: 1;
	margin: 0;
}

.icon-wrap div {
	display: inline-block;
	width: 1px;
	height: 19px;
	background-color: #dfe2e8;
	margin: 0 10px;
}

.title {
	margin-bottom: 7px;
}
.title-right {
	color:#898584;
	float: right;
}

.content-body p {
	font-family: 'ProximaNovaLight';
	font-size: 15px;
	font-weight: 600;
	line-height: 21px;
}

.right-bar .wrap {
	height: 300px;
	padding-top:6px;

}

.active {
	height: 31px;
	background-color: #edeef0;
	border-left: 2px solid #5181B8;

}

.active a {
	display: inline-block;
	margin-top: 8px;
	margin-left: 18px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.active img {
	float: right;
	opacity: 0.7;
	margin-top: 8px;
	margin-right:8px;
}

.wrap .navbar li {
	margin-bottom:16px;
}
.under-bar {
	margin-left:10px;
}

.under-bar li a {
	color: #656565;
}

.wrap .line {
	margin:0 10px 0 0;
}

.right-bar .bottom-bar {
	padding:10px 10px 7px 15px;
	margin-top: 15px;
	height: 35px;
	
}

.bottom-bar img {
	float: left;
	padding-right:9px;
}

.circle {
	position: relative;
	background-color:#5082b7;
	width: 14px;
	height:15px;
	float: right;
	display: inline-block;
	border-radius: 10px;
	z-index: 1;
}

.rectangle {
	float:right;
	display: inline-block;
	height: 7px;
	width: 15px;
	background-color: #B8D0E2;
	border-radius: 2px;
	margin-top:4px;
	margin-right: -5px;

}

